{% extends 'layout.html' %}

{% block content %}
  <div class="container mt-3">
    <h1>{{title}}</h1>
    <hr>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <a href="{{url_for('new_pokemon')}}" class="btn btn-outline-success float-end">
          <i class="bi bi-plus-square-fill"></i> New Pokemon
        </a>
      </div>
    </div>
    <div class="row">
      {% for pokemon in pokemons %}
          
            <div class="col-md-4 mt-3 mb-3">
              <div class="card">
                <a href="{{url_for('pokemon_detail', id=pokemon.id)}}">
                  <img src="{{pokemon.img_url}}" class="card-img-top" alt="...">
                </a>
                
                <div class="card-body">
                  <h2 class="card-text text-center">{{pokemon.name}}</h2>
                </div>
              </div>
            </div>
          
      {% endfor %}
      
    </div>
  </div>
{% endblock %}


